.navigation-container {
  background-color: #e6c88f;
}

.navigation-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation-container ul a {
  width: 33.3%;
  padding: 20px 0;
  text-decoration: none;
}

.navigation-container ul a li {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: brown;
}

.navigation-container ul img {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

@media screen and (max-width: 420px) {
  .navigation-container {
    background-color: #e6c88f;
  }
  .navigation-container ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navigation-container ul a {
    width: 33.3%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
  }
  .navigation-container ul a li {
    height: 0;
    width: 0;
    visibility: hidden;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: brown;
  }
  .navigation-container ul .icon {
    fill: brown;
    position: relative;
    padding: 0;
    visibility: visible;
    width: 35px;
    height: 35px;
  }
}
/*# sourceMappingURL=navigation.css.map */