.navigation-container {
  background-color: #e6c88f;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
      width: 33.3%;
      padding: 20px 0;
      text-decoration: none;
      li {
        text-align: center;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        color: brown;
      }
    }
    img {
        position: absolute;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
}

@media screen and (max-width: 420px) {
  .navigation-container {
    background-color: #e6c88f;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        width: 33.3%;
        padding: 15px;
        text-decoration: none;
        text-align: center;
        li {
        height: 0;
        width: 0;
          visibility: hidden;
          font-size: 1em;
          text-transform: uppercase;
          font-weight: bold;
          color: brown;
        }
      }
      .icon {
          fill: brown;
          position: relative;
        padding: 0;
        visibility: visible;
        width: 35px;
        height: 35px;
      }
    }
  }
}
