.editquestion-container {
  height: 100vh;
  width: 100vw;
  background-color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editquestion-container textarea {
  background-color: #e6c88f;
  color: brown;
  border: 0;
  border-radius: 3px;
  width: 60%;
  height: 30%;
  padding: 20px;
  font-size: large;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.editquestion-container textarea::-webkit-input-placeholder {
  color: brown;
}

.editquestion-container textarea:-ms-input-placeholder {
  color: brown;
}

.editquestion-container textarea::-ms-input-placeholder {
  color: brown;
}

.editquestion-container textarea::placeholder {
  color: brown;
}

.editquestion-container textarea:focus {
  outline: none;
}

.editquestion-container button {
  width: 100px;
  margin: 30px 20px;
  border: 0;
  border-radius: 3px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e6c88f;
  color: brown;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.editquestion-container .remove {
  background-color: #e6c88f77;
}
/*# sourceMappingURL=editquestion.css.map */