@mixin shadow {
  $boxshadow-x-align: 0px;
  $boxshadow-y-align: 0px;
  $boxshadow-blur: 10px;
  $boxshadow-color: rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: $boxshadow-x-align $boxshadow-y-align $boxshadow-blur 0px
    $boxshadow-color;
  -moz-box-shadow: $boxshadow-x-align $boxshadow-y-align $boxshadow-blur 0px
    $boxshadow-color;
  box-shadow: $boxshadow-x-align $boxshadow-y-align $boxshadow-blur 0px
    $boxshadow-color;
}

.editquestion-container {
  height: 100vh;
  width: 100vw;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  textarea {
    background-color: #e6c88f;
    color: brown;
    border: 0;
    border-radius: 3px;
    width: 60%;
    height: 30%;
    padding: 20px;
    font-size: large;
    &::placeholder {
      color: brown;
    }
    @include shadow;
    &:focus{
        outline: none;
    }
  }

  button {
    width: 100px;
    margin: 30px 20px;
    border: 0;
    border-radius: 3px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #e6c88f;
    color: brown;
    cursor: pointer;
    @include shadow;
  }
  .remove{
    background-color: #e6c88f77;
  }
}
