* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
}
body{
  background-color: brown;
}
.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: brown;
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  flex-direction: column;
}
#question {
  text-align: center;
  margin: auto;
  font-size: 3em;
  color: #e6c88f;
  font-weight: bold;
}
#changeQuestion-btn {
  padding: 15px 0;
  background-color: #e6c88f;
  color: brown;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  font-size: 1em;
}