.questionlist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questionlist-container a {
  padding: 10px 20px;
  text-decoration: none;
}

.questionlist-container a :hover {
  cursor: pointer;
}

.questionlist-container a .question-container .name {
  color: #e6c88f;
}
/*# sourceMappingURL=questionlist.css.map */