.questionlist-container{
    display: flex;
    flex-direction: column;
    a{
        padding: 10px 20px;
        :hover{
            cursor: pointer;
        }
        text-decoration: none;
        .question-container{
            .name{
                color: #e6c88f;
            }
        }
    }
}